body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5; /* Color de fondo suave */
}

h1 {
  font-size: 2.5rem;
  color: #333; /* Color de texto para el encabezado */
}

#game-board {
  display: inline-block;
  margin-top: 20px;
  background-color: #fff; /* Fondo blanco para el tablero */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para el tablero */
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones más suaves */
}

.cell:hover {
  background-color: #f0f0f0; /* Color al pasar el cursor sobre la celda */
  transform: scale(1.1); /* Efecto de aumento al pasar el cursor */
}

.cell[data-value='X'] {
  color: #ff5733; /* Rojo anaranjado para X */
}

.cell[data-value='O'] {
  color: #3498db; /* Azul para O */
}

.winner {
  background-color: #ffeb3b; /* Color amarillo para la celda ganadora */
  animation: blink 0.5s infinite alternate; /* Parpadeo */
  box-shadow: 0 0 10px rgba(255, 235, 59, 0.6); /* Sombra de resaltado */
}

.lose {
  background-color: red; /* Color de fondo rojo para la pérdida */
  color: white;           /* Texto blanco */
  font-weight: bold;
}

@keyframes blink {
  0% { background-color: #ffeb3b; }
  100% { background-color: #ffd700; }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50; /* Botones verdes */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Añadimos transición */
}

button:hover {
  background-color: #45a049; /* Cambio de color al pasar el cursor */
  transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}

.hidden {
  display: none;
}

#status {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; /* Color de texto para el estado del juego */
}

#scoreboard {
  margin-top: 20px;
}

#scoreboard p {
  font-size: 1.2rem;
  color: #333; /* Color de texto para el marcador */
}

#scoreboard p span {
  font-weight: bold; /* Resaltar el puntaje */
}



